.table-fixed {
    table-layout: fixed;
              }
.table-cards {
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 10px;
    margin-bottom: -20px;
}
table{
  padding: 20px;
}
  tr{
    background-color:white;
    width: auto;
    
  }
  tr:hover td {
  background-color: #d4f2fa;
      }
  body{
    background-color: #eee;
  }
  .table-textSmall {
    font-size: 12px;
}
.filter-state.smallState {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 17px;
    line-height: 1.4;
    margin: 0 0 0 64px;
    position: relative;
    top: -2px;
    width: 66px;
}
.filter-state.open {
    background: #00a5d5;
    color: #fff;
}
.filter-state.closed {
    background: #ccc;
    color: #404040;
}
.filter-state:last-child {
    margin-bottom: 0;
}
.filter-state {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.table-reports tr th.checkbox {
    border-left: none;
    padding: 9px 7px 9px 10px;
    position: static;
    width: 12px;
}
tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
