
.btn-google
{

  padding: 5px 4px;
  font-size: 12px;
  color: white;
    width: 145px;
    height: 33px;
}
.btn-yahoo
{

  padding: 5px 4px;
  font-size: 12px;
  color: white;
    width: 129px;
    height: 33px;
}
.btn-SAML
{

  padding: 5px 4px;
  font-size: 12px;
  color: white;
    width: 129px;
    height: 33px;
}
.btn-Intuit
{

  padding: 5px 4px;
  font-size: 12px;
  color: white;
    width: 129px;
    height: 33px;
}


.btn-google:hover{
  background: #e62e00;

}
.btn-yahoo:hover{
  background: #4224ad;
}
.btn-SAML:hover{
  background: #00a5d5;
}
.btn-Intuit:hover{
  background:#00a5d5;
}
.msg
{
 margin-left:115px;
 color: white;
 font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 12px;
}
.inputContainer1{
   position:relative;
  }

  .myInput1
{ padding-right: 25px; /* This will move the text from under the image */ }
    .inputImg1{
        left:2px;
        width: 36px;
        position:absolute;
        margin-left:230px;
        top:-7px;
        font-size:14px;
        z-index:2;

   }

   .inputImg2
   {
   width: 23px;

     position:absolute;

     font-size:14px;
     z-index:2;

 }
