body
{
    padding-top: 54px;
    background-size:cover;
}

@media (min-width: 768px)
{
    body
    {
        padding-top: 50px;
    }
}

.logo
{
  margin-left: 103px;
margin-top: -50px;
}
.btn-success
{
  color:#fff;
  background-color:#2ecc71;
  border-color:#2ecc71
  }
  .btn-success.focus,.btn-success:focus
  {
    color:#fff;
    background-color:#25a25a;
    border-color:#176437
  }
  .btn-success:hover
  {
    color:#fff;
    background-color:#25a25a;
    border-color:#239a55
  }
  .group-btn{
    width:200px;
  }
  .reveal {
    background-color: #eee;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



#login img{
  margin: 10px 0;
}
#login .center {
  text-align: center;
}

#login .login {
  max-width: 300px;
	margin: 35px auto;
}

 .login-form{
  padding:0px 25px;
}
 .widthfiled
{
  width: 180px;
}
 .button1 {
  width: 290px;
  background-color: #00a5d5;
  height: 40px;
  style="width:290px;background-color:#00a5d5;height:40px
}
.logincontent{
  background-color:#555c64;
  height:100%;
  margin-top: -50px;
background: rgba(93, 110, 115, 0.8);
}
.textfield1{
border-radius: 6px;
box-sizing: border-box;
height: 50px;
/* text-align: center; */
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
background-color:white;
text-indent: 32px;

}
.inputContainer{
   position:relative;
  }
.myInput
{ padding-left:25px; /* This will move the text from under the image */ }
  .inputImg{
      left:5px;
      position:absolute;
      margin-left:230px;
      top:15px;
      font-size:14px;
      z-index:2;

 }
