.table-fixed {
  table-layout: fixed;
}
table {
  padding: 20px;
}

.table-cards {
  border-collapse: inherit;
  border-spacing: 0px 10px;
  /* -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 10px; */
  margin-bottom: -20px;
}
tr {
  background-color: white ;
  width: auto;
}


body{
  background-color: #eee;
}

.table-textSmall {
  font-size: 12px;
}

.filter-state.smallState {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 17px;
  line-height: 1.4;
  top: 13px;
  font-size: 13px;
  width: 67px;
}

.impstar {
  /* display: table-cell; */
  color: #fbd300;
  top: 16px;
  font-size: 15px;
  left: -20px;
  position: relative;
}


.table thead th {
    /* background: rgba(238,238,238,.5); */
    border-bottom: 0px solid #ddd;
    background-color: #eee;
    color: #999;
    font-size: 8px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;
    white-space: nowrap;
}




.filter-state.closed {
  background: #ccc;
  color: #404040;
}

.filter-state:last-child {
  margin-bottom: 0;
}

.filter-state {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.table-reports tr th.checkbox {
  border-left: none;
  padding: 9px 7px 9px 10px;
  position: static;
  width: 12px;
}


tr td:first-child, tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child, tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-bar-bottom .pagination-bar {
    right: 1px;
}
.pagination-bar>div label {
    color: #999;
    font-size: 12px;
    margin-right: 8px;
}
.btn-secondary-outline {
    background-color: #fff;
    background-image: none;
    border-color: #ddd;
    color: #666;
    background: #f8f8f8;
    top: 0px;
    left: -5px;
}
.pagination-bar__pages{
  text-align: right;
}
#button_exportButton {
    display: none;
    background-color: #fff;
    background-image: none;
    border-color: #acd0e5;
    color: #006894;
}
.avatar-pill__image{
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
    height: 28px;
    width: 28px;
    margin-left: 28px;

}
.pageExpenseImgs{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height: 80px;
}
.type-date{
    margin-left: -6px;
    color: #999;
    font-size: small;
}
.type-money-expense
{
  color: #999;
  font-size: 25px;
}
.table-reports tr td.reportName a
{
  color:black;
  font-size: 16px;
}
.filter-state.open {
  background: #00a5d5;
  color: #fff;
  /* margin-left: 6px;
  display: flow-root; */
}
.reportID {
      display: inline-block;
      color: #999;
}
.meta .amount {
    font-size: 22px;
    font-weight: 300;
    height: 30px;
    vertical-align: top;
}
.meta .amount span {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: 3px;
    vertical-align: top;
}
